.wrapper
    .banner
        .banner__left
            picture
                source(srcset="./img/boxer-left-tab.png" media="(max-width: 1205px)")
                img(src="./img/boxer-left.png" alt="favbet")
        .banner__center
            .banner__box
                    img(src="./img/infoBox.png" alt="favbet")
            .banner__details
                .banner__details-date 22.12
                .banner__details-time 01:00
            p.banner__info *Під призовим фондом у 1 000 000 ₴ мається на увазі отримання призу у вигляді електронних грошових замінників в Акції «Раунд на мільйон». Деталі на сайті www.favbet.ua. Період дії акції – з 12:00 17.12.2024 по 00:30 22.12.2024
        .banner__right
            picture
                source(srcset="./img/boxer-right-tab.png" media="(max-width: 1205px)")
                img(src="./img/boxer-right.png" alt="favbet")